{% extends 'estoque/base.html' %}
{% block content %}
<div class="category-detail-container">
    <div class="category-title">{{ categoria.identificacao }}</div>
    <div class="category-info">
        <p><strong>ID:</strong> {{ categoria.id }}</p>
        <p><strong>Descrição:</strong> {{ categoria.descricao }}</p>
    </div>
    <div class="category-actions">
        <a href="{% url 'estoque:categoria_update' categoria.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
<a href="{% url 'estoque:categoria_delete' categoria.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i> Excluir</a>
<a href="{% url 'estoque:categoria_list' %}" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Voltar</a>
    </div>
</div>
{% endblock %}
