{% extends 'estoque/base.html' %}
{% load widget_tweaks %}

{% block title %}Estoque - Tecnologia de Ponta{% endblock %}

{% block content %}
<div class="delete-category-container">
    <div class="delete-category-title">Excluir Categoria</div>
    <div class="delete-category-text">
        Tem certeza que deseja excluir a categoria <span class="delete-category-name">{{ object.identificacao }}</span>?
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="delete-category-actions">
            <button type="submit" class="btn btn-confirm"><i class="bi bi-trash-fill"></i> Confirmar</button>
            <a href="{% url 'estoque:categoria_list' %}" class="btn btn-cancel"><i class="bi bi-arrow-left-circle"></i> Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
